@import "./globals";
@import "./navbar";

.courses-list {
  padding: 2rem;

  .course {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    border: 1px solid black;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    .course-actions {
      display: flex;
      align-items: center;
      gap: 2rem;
      .edit {
        color: olivedrab;
      }
    }
  }
}
form {
  padding: 2rem 3rem;
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  input {
    padding: 0.9rem 1rem;
    width: 90%;
    font-size: 20px;
  }
  button {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    font-size: 20px;
  }
}
.detail-page {
  h1 {
    padding: 1rem;
  }
  .course-detail {
    padding: 2rem 3rem;
    h2 {
      color: darkblue;
      padding-bottom: 1rem;
    }
  }
}
